@page "/app/downloads/tasks"
@using AVOne.Impl.Data
@using AVOne.Models.Download
@using AVOne.Server.Pages.App.Downloads.Components
@inherits ProComponentBase

<CascadingValue Value="this">
    <div>
        <MRow Class="no-gutters">
            <div style="height:calc(100vh - 112px );">
                <TaskNav />
            </div>
            <div class="pl-6 rounded-2" style="height:calc(100vh - 112px ); width: calc(100% - 250px); overflow: hidden; display:block;">
                <div>
                    <MToolbar Dense Elevation="0" Class="rounded-2" Height="60">
                        <MTextField TValue="string"
                                    Class="task-search mx-4"
                                    HideDetails=true
                                    Placeholder=@T("Download.Search") @bind-Value=InputText>
                            <PrependContent>
                                <MIcon Small Class="mt-1">fa fa-search</MIcon>
                            </PrependContent>

                        </MTextField>
                        <MMenu OffsetX Left OffsetY>
                            <ActivatorContent>
                                <MButton Class="mr-5" Icon Large @attributes="context.Attrs"><MIcon>mdi-dots-horizontal</MIcon></MButton>
                            </ActivatorContent>
                            <ChildContent>
                                <MList Dense>
                                    <MListItem Link OnClick=ResetSort>
                                        <MListItemContent>
                                            <MListItemTitle>
                                                @T("Download.Sort.ResetSort")
                                            </MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>
                                    <MListItem Link OnClick=SortbyName>
                                        <MListItemContent>
                                            <MListItemTitle>
                                                @T("Download.Sort.SortbyName")
                                            </MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>
                                    <MListItem Link OnClick=SortbyCreatedDate>
                                        <MListItemContent>
                                            <MListItemTitle>
                                                @T("Download.Sort.SortbyCreatedDate")
                                            </MListItemTitle>
                                        </MListItemContent>
                                    </MListItem>
                                </MList>
                            </ChildContent>
                        </MMenu>
                    </MToolbar>

                    <MList Subheader=true ThreeLine TwoLine Class="rounded-4 mt-6" Style="height: calc(100vh - 196px ); overflow-y:auto;">
                       @foreach (var job in Jobs)
                        {
                            <TaskItem Job="job" OnShowJobDetail="()=>ShowDetail(job)" OnDeleteJob="()=>DeleteJob(job)" OnStopJob="()=>StopJob(job)"/>
                        }
                    </MList>
                </div>
            </div>
        </MRow>
    </div>
    @if(_selectItem is not null){
        <TaskDetail Value=_visible ValueChanged="ChangeVisible" SelectItem=_selectItem></TaskDetail>
    }
</CascadingValue>
@code{
    private bool _visible = false;
    private JobModel _selectItem = new();

    private void ShowDetail(JobModel item)
    {
        _visible = true;
        _selectItem = item;
    }

    public void ChangeVisible(bool? value)
    {
        _visible = value ?? false;
    }
}